.card {
  margin: 1rem 0;
  padding: 1.5rem;
  color: inherit;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background: #d7ecff;

  &:hover,
  &:focus,
  &:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  h2 {
    margin: 0 0 8px 0;
    font-size: 1.5em;
    text-align: justify;
  }

  p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
  }
}