.breadcrumb {
  margin: 0;
  padding: 10px 3em;
  list-style: none;
  height: 45px;
}

.breadcrumb li {
  display: inline;
  font-size: 1em;
}

.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

.breadcrumb li span,
.breadcrumb li a {
  text-transform: capitalize;
  border-bottom: 1px solid #0275d8;
}

.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

.breadcrumb li span {
  border-bottom: 1px solid #000000;
}

.breadcrumb li a:hover {
  color: #01447e;
}