.rightMenu {
  justify-content: flex-end;
}

.logo {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  color: white;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}