.marginZero {
  margin: 0 !important;
}

.marginTop {
  margin-top: 8px;
}

.marginBottom {
  margin-bottom: 8px;
}

.marginLeft {
  margin-left: 8px;
}

.marginRight {
  margin-right: 8px;
}

.paddingZero {
  padding: 0 !important;
}

.paddingTop {
  padding-top: 8px;
}

.paddingBottom {
  padding-bottom: 8px;
}

.paddingLeft {
  padding-left: 8px;
}

.paddingRight {
  padding-right: 8px;
}

.textOverflow {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}